# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# Terraform
.terraform
*.tfstate
*.tfstate.backup
*.tfvars
.terraformrc
.terraform.lock
terraform.tfvars